parameters:
    level: 6
    paths:
        - config
        - database
        - routes
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\StatefulGuard::getProvider\(\)#'
    checkMissingIterableValueType: false
